* {
  box-sizing: border-box;
}

html {
  font-size: 1em;
}

body {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  color: #333333;
  font-family: "Work Sans", "Calibri", "Arial", sans-serif;
}

h1, h2, h3 {
  font-family: "Roboto Condensed", "Times New Roman", serif;
}
h1.underline, h2.underline, h3.underline {
  color: #5d495f;
}
h1.underline::after, h2.underline::after, h3.underline::after {
  display: block;
  content: "";
  height: 2px;
  border-radius: 2px;
  margin-top: 5px;
  background: #ab94ad;
}

p, ul, ol {
  line-height: 1.5;
}

img {
  max-width: 100%;
}

a {
  color: #283E56;
  text-decoration: none;
  border-bottom: 1px solid;
}

section {
  margin-top: 120px;
}
section h1:first-child, section h2:first-child, section h3:first-child {
  margin-top: 0;
}
section:first-child {
  min-height: 50vh;
}
section.huge-spacing {
  margin-top: 180px;
}

.container {
  max-width: 69rem;
  margin: 0 auto;
}

.hide {
  display: none;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
}
.img-wrapper img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.right {
  text-align: right;
}

.small {
  font-size: 0.85rem;
}

.disabled {
  color: #999999;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  padding: 10px 0 10px 10px;
}
.grid .col:last-of-type {
  padding-right: 10px;
}
.grid .col.no-gutter {
  padding: 0;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

.header {
  color: white;
  position: relative;
}
.header .header__logo {
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 0;
  padding-bottom: 0;
}
.header .header__logo .logo {
  width: 60px;
  height: 60px;
}
.header .header__title {
  padding-top: 0;
  padding-bottom: 0;
}
.header .header__title h1 {
  margin-top: -5px;
  margin-bottom: 5px;
}
.header .header__title h2 {
  margin-top: -5px;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: normal;
}
.header .header__topbar {
  padding: 30px;
  background: #5d495f;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.header .header__hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background: #283E56;
}
.header .header__hero .header__hero-caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 69rem;
  margin-left: -34.5rem;
  text-align: center;
}
.header .header__hero .header__hero-caption .txt {
  color: white;
  font-family: "Work Sans", "Calibri", "Arial", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}

.header__nav {
  text-align: right;
}
.header__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 18px;
}
.header__nav ul li {
  display: inline-block;
  min-width: 50px;
}
.header__nav ul li a {
  color: #e6e6e6;
  text-decoration: none;
  border-bottom: 0;
  font-size: 1rem;
  padding: 15px 20px;
}
.header__nav ul li a.active {
  color: #fed024;
}
.header__nav ul li a:not(.active):hover {
  color: white;
  color: white;
  background: rgba(255, 255, 255, 0.05);
}

.footer {
  background: #5d495f;
  padding: 30px 0;
  margin-top: 120px;
  color: white;
}
.footer p {
  margin: 0;
}

.officer-cell__wrapper {
  display: inline-block;
  width: 33.33333%;
  margin: 0 -4px;
  padding: 20px 20px 0 0;
  vertical-align: top;
  margin-bottom: 30px;
}
.officer-cell__wrapper:nth-child(3n) {
  padding-right: 0;
}
.officer-cell__wrapper .officer-cell .officer-cell__dp {
  width: 90px;
  height: 90px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  overflow: hidden;
}
.officer-cell__wrapper .officer-cell p {
  margin: 0;
}
.officer-cell__wrapper .officer-cell a.social__cell {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 7px 5px 0 0;
  border-bottom: 0;
}

/*# sourceMappingURL=main.css.map */
