<!--
 ! @author Navdeep Singh Bagga
 !   @term Fall 2017
 !   @desc Root view file for SIMA web
 !-->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- page info :start -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="School of Information Master's Association (SIMA) {{ currYear }} | University of Michigan">
    <!-- page info :end -->

    <title>School of Information Master's Association (SIMA) {{ currYear }} | University of Michigan</title>

    <!-- favicon :start -->
    <link rel="apple-touch-icon" sizes="76x76" href="/public/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon/manifest.json">
    <link rel="mask-icon" href="/public/favicon/safari-pinned-tab.svg" color="#00274c">
    <link rel="shortcut icon" href="/public/favicon/favicon.ico">
    <meta name="msapplication-config" content="/public/favicon/browserconfig.xml">
    <meta name="theme-color" content="#00274c">
    <!-- favicon :end -->

    <!-- stylesheets:start -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Work+Sans:300,400,700|Sacramento">
    <link rel="stylesheet" href="/public/css/main.css">
    <!-- stylesheets:end -->
</head>
<body>
    <header class="header">
        {% block hero %}
        {% endblock %}
        <div class="header__topbar">
            <div class="container grid">
                <div class="col col-6">
                    <div class="grid">
                        <div class="col col-2 header__logo">
                            <div class="logo img-wrapper">
                                <img src="/public/img/block-m.png" alt="Logo for the website">
                            </div>
                        </div><!-- .col -->
                        <div class="col col-10 header__title">
                            <h1>University of Michigan</h1>
                            <h2>School of Information Master's Association (SIMA)</h2>
                        </div><!-- .col -->
                    </div><!-- .grid -->
                </div><!-- .col -->
                <div class="col col-6 header__nav">
                    <nav>
                        <ul>
                            <li>
                                <a href="/" {% if active_page == "index" %} class="active" {% endif %}>Home</a>
                            </li>
                            <li>
                                <a href="/org-officers" {% if active_page == "org-officers" %} class="active" {% endif %}>
                                SIMA Officers</a></li>
                            <li>
                                <a href="/events" {% if active_page == "events" %} class="active" {% endif %}>Events</a></li>
                                <!-- will have photos -->
                            <li>
                                <a href="/contact-us" {% if active_page == "contact" %} class="active" {% endif %}>Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- .col -->
            </div><!-- .grid -->
        </div><!--.header__topbar -->
    </header>

    <div class="container">
        <p class="right small disabled">Photo by <a href="https://unsplash.com/@baim" target="_blank" title="Baim Hanif @baim">Baim Hanif</a> on <a href="https://unsplash.com/" target="_blank" title="Unsplash">Unsplash</a></p>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="footer">
        <div class="container grid">
            <div class="col col-6 no-gutter">
                <p class="small">Copyright &copy; <span id="currYear">2017</span> University of Michigan School of Information</p>
            </div><!-- .col -->
            <div class="col col-6 no-gutter right">
                <p class="small">Social media links</p>
            </div><!-- .col -->
        </div><!-- .grid -->
    </footer>

    <!-- scripts:start -->
    <script src="/public/js/lib/jquery.min.js"></script>
    <script>
        $( "#currYear" ).text( ( new Date() ).getFullYear() );
    </script>
    <!-- scripts:end -->
</body>
</html>