<div>
    {% for officer in data %}
    <div class="officer-cell__wrapper">
        <div class="officer-cell grid">
            <div class="col col-4 no-gutter">
                <div class="officer-cell__dp img-wrapper">
                    <img src="/public/img/officers/{{ officer.imgFilename }}" alt="{{ officer.name }}">
                </div>
            </div>
            <div class="col col-8 no-gutter">
                <p>{{ officer.name }}</p>
                <p><strong>{{ officer.role }}</strong></p>
                <p class="small">{{ officer.email }}</p>
                <p>
                {% for link in officer.socialLinks %}
                    <a href="{{ link.url }}" class="social__cell" target="_blank">
                        <img src="/public/img/svgs/{{ link.type }}.svg" alt="{{ link.type }} link of {{ officer.name }}" />
                    </a>
                {% endfor %}
                </p>
            </div>
        </div><!-- .officer__cell__inner -->
    </div><!-- .officer__cell__wrapper -->
    {% endfor %}
</div>