<div>
    {% for officer in data %}
    <div class="display-cell">
        <div class="display-cell--officer grid">
            <div class="col col-4--fixed no-gutter">
                <div class="display-cell--officer__dp img-wrapper">
                    <img src="/public/img/officers/{{ officer.imgFilename }}" alt="{{ officer.name }}">
                </div>
            </div>
            <div class="col col-8--fixed no-gutter">
                <p>{{ officer.name }}</p>
                <p><strong>{{ officer.role }}</strong></p>
                <p class="small">{{ officer.email }}</p>
                <p>
                {% for link in officer.socialLinks %}
                    <a href="{{ link.url }}" class="social-lnk" target="_blank">
                        <img src="/public/img/svgs/{{ link.type }}.svg" alt="{{ link.type }} link of {{ officer.name }}" />
                    </a>
                {% endfor %}
                </p>
            </div>
        </div><!-- .display-cell-officer -->
    </div><!-- .display-cell -->
    {% endfor %}
</div>