{% extends "_layout.html" %}
{% set active_page = "events" %}

{% block content %}
<section class="huge-spacing">
    <h2 class="underline">Events</h2>
    <p>The SIMA Information Manager is responsible for reaching out to <a href="/resources#other-student-orgs" title="SIMA resources">other student organizations</a> at UMSI every 2 weeks and gather information about relevant events in the coming weeks. The Information Manager then consolidates these events into a newsletter along with other important details and sends out to the master's students cohort.</p>
    <p>Below are some of the events happening in the coming weeks, we will be updating this every 2 weeks.</p>
    {{ eventsHtml | safe }}
</section>
<section>
    <h2>Events organized by SIMA</h2>
    <p>SIMA has been known for hosting engaging student events which span from dean town halls, to game nights, to diversity equity &amp; inclusion talks, to festive events. SIMA receives a fund from the administration every term to host these events. SIMA officers, esp. the Event Coordinator, organize these events, manage the logistics and have a good time with all the UMSI cohort. Some of our friends outside SIMA also help clean up afterwards (thanks guys!).</p>
</section>
<section>
    <h2>Photos from past events</h2>
    <p class="disabled">Coming soon</p>
</section>
{% endblock %}