{% extends "_layout.html" %}
{% set active_page = "index" %}

{% block hero %}
<div class="header__hero img-wrapper">
    <img src="/public/img/hero.jpg" alt="Hero image">
    <div class="container header__hero-caption">
        <blockquote class="txt">Uniting UMSI students<br />across degree programs &amp; specializations, and<br />facilitating communication between students &amp; the administration.</blockquote>
    </div><!-- .header__hero-caption -->
</div><!-- .header__hero -->
{% endblock %}

{% block content %}
<section>
    <h2 class="underline">SIMA</h2>
    <p>SIMA is a student organization at University of Michigan School of Information consisting of students elected by fellow stuents to voice their concerns to the administration as well as to make sure that the current term is a smooth sail to the end. SIMA represents the student body of UMSI and behaves as a vehicle for communication between students and the administration.</p>
</section>
<section>
    <h2 class="underline">About this website</h2>
    <p>This website is solely designed for the students at SI. The purpose of this website is to be able to give the students an overview of SIMA as well as to keep the students up to speed with various events such as town halls and game nights happening in and around SI. The <a href="/events" title="SIMA events">events</a> page contains information about upcoming events, have a look at them.</p>
</section>
<section>
    <h2 class="underline">Feeback / concerns / questions</h2>
    <p>We are here to listen to you. Go to the <a href="/contact-us">contact</a> page to reach us. Our email is simaofficers.umich.edu</p>
</section>
{% endblock %}