{% extends "_layout.html" %}
{% set active_page = "org-officers" %}

{% block content %}
<section class="huge-spacing">
    <h2 class="underline">SIMA Officers</h2>
    {{ officersHtml | safe }}
</section>
<section>
    <h3>How are the officers elected?</h3>
    <p>Every two academic terms here at SI, the current SIMA officers conduct an election process to elect the next officers from the current master's students cohort. The results of this election determines who will success a particular role. SIMA officers roles are as follows:</p>
</section>
<section>
    <h3>How can I become a SIMA officer?</h3>
    <p>We will send a survey before the elections asking students who they think can fit a role. This form has a text box for nominee's name and a dropdown for the role you are nominating. Then we shortlist candidates and elections are contested for each position. Usually, there 2-3 students running for one position.</p>
</section>
<section>
    <h3>Roles and responsibilities</h3>
    <ol>
        <li>
            <strong>President</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, veritatis?
            <br />
            <br />
        </li>
        <li>
            <strong>Vice-President</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, veritatis?
            <br />
            <br />
        </li>
        <li>
            <strong>Diversity Coordinator</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, veritatis?
            <br />
            <br />
        </li>
        <li>
            <strong>Event Coordinator</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, veritatis?
            <br />
            <br />
        </li>
        <li>
            <strong>Information Manager</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, veritatis?
            <br />
            <br />
        </li>
        <li>
            <strong>MHI Representative</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, veritatis?
            <br />
            <br />
        </li>
        <li>
            <strong>Treasurer</strong>
            <br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, veritatis?
            <br />
            <br />
        </li>
    </ol>
</section>
{% endblock %}