.container {
    max-width: $containerWidth;
    margin: 0 auto;
}

.hide {
    display: none;
}

.img-wrapper {
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
}

.right {
    text-align: right;
}

.small {
    font-size: 0.85rem;
}

.disabled {
    color: $secondaryTextColor;
}

.event-img {
    display: block;
    min-height: 300px;
    border-bottom: 2px solid white;

    img {
        border: 1px solid white;
    }
}