$dpSize: 90px;
$socialMediaIconSize: 16px;
$socialMediaIconSizeMob: 22px;


.display-cell {
    width: 100%;
    display: inline-block;
    margin: 0 -4px;
    padding: 20px 20px 0 0;
    vertical-align: top;
    margin-bottom: 30px;

    &:nth-child( 3n ) {
        padding-right: 0;
    }

    @media screen and (min-width: $break-mobile) {
        & {
            width: percentage( 1 / 3 );
        }
    }
}

.display-cell--officer {
    .display-cell--officer__dp {
        width: $dpSize;
        height: $dpSize;
        border: 1px solid rgba( black, 0.2 );
        border-radius: 50%;
        overflow: hidden;
    }

    p {
        margin: 0;
    }

    a.social-lnk {
        display: inline-block;
        width: $socialMediaIconSizeMob;
        height: $socialMediaIconSizeMob;
        margin: 7px 5px 0 0;
        border-bottom: 0;

        @media screen and (min-width: $break-desktp) {
            & {
                width: $socialMediaIconSize;
                height: $socialMediaIconSize;
            }
        }
    }
}

.display-cell--event {
    background: darken( white, 8% );
    padding: 15px;
    border-radius: 5px;

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}