$logoSize: 55px;


.header {
    color: white;
    position: relative;

    .header__topbar {
        padding: 20px;
        background: $accent;
        width: 100%;

        @media screen and (min-width: $break-desktp) {
            & {
                padding: 30px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .container {
            padding: 0;
        }
    }

    .header__logo {
        padding-top: 0;
        padding-bottom: 0;

        .logo {
            width: $logoSize;
            height: $logoSize;
        }

        @media screen and (min-width: $break-desktp) {
            & {
                padding-right: 15px;
            }
        }
    }

    .header__title {
        padding-top: 0;
        padding-bottom: 0;

        h1 {
            margin-top: -5px;
            margin-bottom: 5px;
        }

        h2 {
            margin-top: -5px;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: normal;
        }
    }

    .header__hero {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        background: $accent;
        display: none;

        .header__hero-caption {
            position: absolute;
            bottom: 20px;
            left: 50%;
            width: $containerWidth;
            margin-left: -1 * ( $containerWidth / 2 );
            text-align: center;

            .txt {
                color: white;
                font-family: $bodyType;
                font-size: 1.2rem;
                font-weight: 300;
                line-height: 1.5;
            }
        }

        @media screen and (min-width: $break-desktp) {
            & {
                display: block;
            }
        }
    }
}