* {
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
    background: $siteBackground;
    color: $primaryTextColor;
    font-family: $bodyType;
}

h1, h2, h3 {
    font-family: $headingType;

    &.underline {
        color: $accent;

        &::after {
            display: block;
            content: "";
            height: $headingUnderlineHeight;
            border-radius: $headingUnderlineHeight;
            margin-top: 5px;
            background: lighten( $accent, 30% );
        }
    }
}

p, ul, ol {
    line-height: 1.5;
}

img {
    max-width: 100%;
}

a {
    color: $blue;
    text-decoration: none;
    border-bottom: 1px solid;
}

section {
    margin-top: $contentSepVal;

    h1:first-child, h2:first-child, h3:first-child {
        margin-top: 0;
    }

    &:first-child {
        min-height: 50vh;
    }

    &.huge-spacing {
        margin-top: 1.5 * $contentSepVal;
    }
}