// Website colors:
$accent: #283E56;
$siteBackground: #ffffff;



// Typography:
$headingType: "Abril Fatface", "Times New Roman", serif;
$subHeadingType: "Work Sans", "Calibri", "Arial", sans-serif;
$bodyType: "Work Sans", "Calibri", "Arial", sans-serif;



// Typography colors:
$primaryTextColor: #333333;
$secondaryTextColor: #999999;