// Colors:
$blue: #283E56;
$maize: #fed024;
$maize_um: #ffcb05;
$blue_um: #00274c;
$eggplant: #5d495f;


// Website colors:
$accent: $eggplant;
$siteBackground: darken( white, 3% );


// Typography colors:
$primaryTextColor: #333333;
$secondaryTextColor: #999999;


// Typography:
$headingType: "Roboto Condensed", "Times New Roman", serif;
$bodyType: "Work Sans", "Calibri", "Arial", sans-serif;
$cursiveType: "Sacramento", script;


// Dimensions:
$containerWidth: 69rem;
$contentSepVal: 120px;
$headingUnderlineHeight: 2px;


// Breakpoints:
$break-mobile: 420px;
$break-tablet: 640px;
$break-desktp: 800px;